.swapdiv{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* height: 10%; */
}
.text{
color: black;
width: 30%;
/* margin-left: 10%; */
}
.homeswap{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.btn2{
    width: 20%;
}

.swapstab{
    margin-top: 5%;
    /* height: 90%; */
    color: black;
}

.input{
    width: 50%;
}
